.canvas-pixel {
  position: relative;
  height: 10px;
  width: 10px;
  margin: 2px;
  display: inline-block;
  cursor: pointer;
  padding: 4px;

  &:not(&.canvas-pixel--disabled) {
    &:hover{
      background: green;
      z-index: 1;
    }
  }

  &--active {
    padding: 0;

    span {
      border-radius: 0;
    }
  }

  span{
    height: 100%;
    width: 100%;
    display: block;
    background: green;
    border-radius: 50%;
  }
}
