.canvas-list {
    display: flex;
    flex-wrap: wrap;

    &__wrapper {
        margin: 50px;
    }

    &__item  {
        flex: 0 0 100%;
        margin: 20px 0
    }

    @media (min-width: 576px) {
        &__item{
            flex: 0 0 50%;
        }
    }

    @media (min-width: 768px) {
        &__item{
            flex: 0 0 33.33%;
        }
    }
}
